n8n.json
{
  "name": "LinkedIn Hiring Signals",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -25
      ],
      "id": "9ac4822c-c3cd-464f-9c71-1a1cebaaa4eb",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brightdata.com/datasets/v3/trigger",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "dataset_id",
              "value": "gd_lpfll7v5hcqtkxl6l"
            },
            {
              "name": "type",
              "value": "discover_new"
            },
            {
              "name": "discover_by",
              "value": "keyword"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer <YOUR-BRIGHTDATA-API-KEY>"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "[\n    {\n        \"location\": \"New York\",\n        \"keyword\": \"Software Engineer\",\n        \"time_range\": \"Past 24 hours\"\n    },\n    {\n        \"location\": \"New York\",\n        \"keyword\": \"backend developer\",\n        \"time_range\": \"Past 24 hours\"\n    },\n    {\n        \"location\": \"New York\",\n        \"keyword\": \"frontend developer\",\n        \"time_range\": \"Past 24 hours\"\n    },\n    {\n        \"location\": \"New York\",\n        \"keyword\": \"full stack developer\",\n        \"time_range\": \"Past 24 hours\"\n    },\n    {\n        \"location\": \"New York\",\n        \"keyword\": \"devops developer\",\n        \"time_range\": \"Past 24 hours\"\n    },\n    {\n        \"location\": \"New York\",\n        \"keyword\": \"mobile developer\",\n        \"time_range\": \"Past 24 hours\"\n    }\n]",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        -25
      ],
      "id": "33cd025a-12a6-4cfd-8ba4-4744d30f48d0",
      "name": "Initiate Scraping Request"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        440,
        -25
      ],
      "id": "0ada5b3c-0b3f-403c-8173-ef2fa4757dbe",
      "name": "Pause Execution",
      "webhookId": "fe867815-ab89-4516-8801-ad25575d4153"
    },
    {
      "parameters": {
        "url": "=https://api.brightdata.com/datasets/v3/progress/{{ $json.snapshot_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer <YOUR-BRIGHTDATA-API-KEY>"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        -100
      ],
      "id": "b324ca30-c371-4df5-8eb5-52b86c155f68",
      "name": "Check Snapshot Status"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e21771eb-feaf-4c10-b558-369b853a73a5",
              "leftValue": "={{ $json.status }}",
              "rightValue": "ready",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        -25
      ],
      "id": "e6a717aa-d6a0-4a69-919d-78a9c5d4bb44",
      "name": "Is Ready?"
    },
    {
      "parameters": {
        "url": "=https://api.brightdata.com/datasets/v3/snapshot/{{ $json.snapshot_id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "format",
              "value": "json"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer <YOUR-BRIGHTDATA-API-KEY>"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        -25
      ],
      "id": "0f0477f6-19be-4027-81d0-60108417d896",
      "name": "Download Scraped Data"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"company_name\": {{ $json.company_name.toJsonString() }},\n  \"company_url\": {{ $json.company_url.toJsonString() }},\n  \"job_title\": {{ $json.job_title.toJsonString() }},\n  \"job_location\": {{ $json.job_location.toJsonString() }},\n  \"date_posted\": {{ $json.job_posted_date.toDateTime().format('yyyy-MM-dd').toJsonString() }}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1320,
        -25
      ],
      "id": "6fd1f1c3-c815-4065-9f00-5c51376417ef",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "<YOUR-GOOGLE-SHEET-ID>",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_url",
              "displayName": "company_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "job_title",
              "displayName": "job_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "job_location",
              "displayName": "job_location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date_posted",
              "displayName": "date_posted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1540,
        -25
      ],
      "id": "4363f8f4-2cb6-49ec-b5a4-2716712c696b",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NnrnQn2DQHrjrLsD",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Initiate Scraping Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initiate Scraping Request": {
      "main": [
        [
          {
            "node": "Pause Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pause Execution": {
      "main": [
        [
          {
            "node": "Check Snapshot Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Snapshot Status": {
      "main": [
        [
          {
            "node": "Is Ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Ready?": {
      "main": [
        [
          {
            "node": "Download Scraped Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pause Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Scraped Data": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "050e44ee-030b-4ff5-a77c-5309cb2678d0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6fc0992f5b7508e81a7f3dd72b5e3fd15c7447666309d350700c58c2b32e279c"
  },
  "id": "ilGEw66205eGRxo9",
  "tags": []
}